# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# env
.env

# test
test/node_modules/
test/test-results/
test/playwright-report/
test/blob-report/
test/playwright/.cache/

# firebase
/.firebase

#iOS
/ios/MyPetTag/MyPetTag.xcodeproj/xcuserdata

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
